.header {
    height: 935px;
    background-position: center center;
    background-size: cover;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #013360;
        opacity: 0.4;

    }
}